<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

  <div class="lg:col-span-2 space-y-6">
    <h3 class="text-2xl font-bold flex items-center gap-2">
      <span class="text-primary"><lucide-icon [img]="ShoppingCart" class="w-5 h-5"></lucide-icon></span> Panier Actuel
    </h3>

    <app-card className="border-none shadow-elegant overflow-hidden">
      <app-card-content className="p-0">
        @for (item of cartItems(); track item.id ?? $index; let idx = $index) {
          <div>
            <div class="flex items-center gap-6 p-6 group">
              <div class="w-24 h-24 rounded-xl overflow-hidden bg-muted flex-shrink-0">
                <img [src]="item.image" class="w-full h-full object-cover" [alt]="item.name" />
              </div>
              <div class="flex-1 space-y-1">
                <p class="text-xs font-bold text-primary uppercase">{{ item.boutique }}</p>
                <h4 class="font-bold text-lg">{{ item.nom }}</h4>
                <p class="text-primary font-bold">{{ item.price }}€</p>
              </div>

              <div class="flex items-center gap-4">
                <div class="flex items-center bg-muted rounded-full px-2">
                  <button (click)="minusNumber(idx, 1)" app-button variant="ghost" size="icon" className="h-8 w-8 rounded-full text-lg">-</button>
                  <span class="w-8 text-center font-bold text-sm">{{ item.quantite }}</span>
                  <button (click)="addNumber(idx, 1)" app-button variant="ghost" size="icon" className="h-8 w-8 rounded-full text-lg">+</button>
                </div>
                <button (click)="removeItem(idx)" app-button variant="ghost" size="icon" className="text-muted-foreground hover:text-background cursor-pointer transition-colors">
                <lucide-icon [img]="trash" class="w-4 h-4"></lucide-icon>
                </button>
              </div>
            </div>
            @if (idx < cartItems().length - 1) {
              <app-separator />
            }
          </div>
        }

        <div class="p-6 bg-muted/30 space-y-4">
          <div class="flex justify-between font-medium">
            <span class="text-muted-foreground">Sous-total</span>
            <span>{{ priceFinal() }}€</span>
          </div>
          <!-- <div class="flex justify-between font-medium text-destructive">
            <span class="text-muted-foreground">Remise boutique</span>
            <span>-15€</span>
          </div> -->
          <app-separator />
          <div class="flex justify-between items-end">
            <span class="font-bold text-lg">Total</span>
            <span class="text-3xl font-black text-primary">{{ priceFinal() }}€</span>
          </div>

          <div class="pt-4">
            <button (click)="confirmeAchatClient()" app-button className="w-full h-14 rounded-2xl font-bold text-lg shadow-glow">
              Confirmer l'achat ({{ priceFinal() }}€)
            </button>
          </div>
        </div>
      </app-card-content>
    </app-card>
  </div>

  <!-- <div class="space-y-6">
    <h3 class="text-2xl font-bold flex items-center gap-2">
      <span class="text-primary"><lucide-icon [img]="clock" class="w-5 h-5"></lucide-icon></span>
      Historique
    </h3>

    <div class="space-y-4">
      @for (order of orders(); track order.id) {
        <app-card className="border-none shadow-elegant hover:scale-[1.02] transition-transform cursor-pointer">
          <app-card-content className="p-5 flex items-center justify-between">
            <div class="flex items-center gap-4">
              <div class="w-12 h-12 rounded-xl bg-primary/10 flex items-center justify-center text-primary">
                <lucide-icon [img]="order.status === 'Livré' ? checkCircle : truck" class="w-5 h-5"></lucide-icon>
              </div>
              <div>
                <h5 class="font-bold text-sm">{{ order.id }}</h5>
                <p class="text-xs text-muted-foreground">{{ order.date }} • {{ order.items }} articles</p>
              </div>
            </div>
            <div class="text-right">
              <p class="font-bold text-primary">{{ order.total }}</p>
              <app-badge [variant]="order.status === 'Livré' ? 'secondary' : 'default'" className="text-[10px] h-5">
                {{ order.status }}
              </app-badge>
            </div>
          </app-card-content>
        </app-card>
      }
    </div>
  </div> -->
</div>
